@import "tailwindcss";

:root {
  --background: #121212;
  --foreground: #ffffff;
  --tik-cyan: #00f2ea;
  --tik-red: #ff0050;
  --tik-dark: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-tik-cyan: var(--tik-cyan);
  --color-tik-red: var(--tik-red);
  --color-tik-dark: var(--tik-dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

